<h1>Menú empleados</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a class="nav-link" asp-action="IncrementarSalarios" asp-controller="Empleados">Incrementar salarios</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link" asp-action="EmpleadosDepartamentoLambda" asp-controller="Empleados">Buscar por departamento</a>
    </li>
</ul>