<h1> Insertar enfermo</h1>
<form method="post" class="form-group">
    <label> Inscripción: </label>
    <input type="text" name="inscripcion" class="form-control" /><br />
    <label> Apellido: </label>
    <input type="text" name="apellido" class="form-control" /><br />
    <label> Direccion: </label>
    <input type="text" name="direccion" class="form-control" /><br />
    <label> Fecha Nacimiento: </label>
    <input type="text" name="FechaNacimiento" class="form-control" /><br />
    <label> Sexo: </label>
    <select name="sexo" class="form-select">
        <option value="F"> FEMENINO </option>
        <option value="M"> MASCULINO </option>
    </select>
    <label> Seguridad Social: </label>
    <input type="text" name="seguridadsocial" class="form-control" /><br />
    <button type="submit" class="btn btn-danger"> Insertar </button>
</form>