<h1>Doctores Controller</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Doctores" asp-action="UpdateDoctoresEspecialidad">
            Prodecimiento doctor Especialidad
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Doctores" asp-action="UpdateDoctoresSalario">
            Prodecimiento doctor Salario
        </a>
    </li>
</ul>