<h1>Index Plantilla</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Plantilla" asp-action="ListaPlantilla">Lista</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Plantilla" asp-action="PlantillaSalario">Filtrar por salario</a>
    </li>
</ul>